
page-meshoraires {

}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 10px 25px;
    width: 100%;
    background: blue;
}

/* Month list */
.month ul {
    margin: 50;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: center;
    margin-right: center;
}



/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.horaireM{
    //list-style-type: none;
    //width: 13%;
    text-align: left;
    font-size:2px;
    color:#777;
}

.horaireA{
    //list-style-type: none;
    //width: 13%;
    text-align: left;
    font-size:2px;
    color:#777;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size:20px;
    color:#777;
    border : 1px;
}

/* Highlight the "current" day */
.days li .active {
    padding: 10px;
    background: #1abc9c;
    color: white !important

}
/* Month header */
.month {
    padding: 10px 25px;
    width: 100%;
    background: dodgerblue;
}

/* Month list */
.month ul {
    margin: 50;
    padding: 0;
}

.JoursOk{
    background: deepskyblue;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: center;
    margin-right: center;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
    background: dodgerblue;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
    background: dodgerblue;
}


/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.horaireM{
    //list-style-type: none;
    //width: 13%;
    text-align: left;
    font-size:2px;
    color:#777;
}

.horaireA{
    //list-style-type: none;
    //width: 13%;
    text-align: left;
    font-size:2px;
    color:#777;
}

.detailJour{
    color:#777;
    background:#eee;
    box-shadow:none;
    //border-color: #eee;
    width:38px;//Largeur fixe aux cases des jours
}

.hasHoraire{
    background: powderblue;
}

.isMaladie{   
    background:deepskyblue;
}

.isAccident{   
    background:deepskyblue;
}

.hasDemande{   
    background:violet;
}

.isAujourdhui{   
    background:#777 ;
    color: ghostwhite// #ddd;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:20px;
    color:#777;
    border : 1px;
    
}

/* Highlight the "current" day */
.days li .active {
    padding: 10px;
    background: #1abc9c;
    color: white !important
}

.titreH{
    padding-top: 10px;
    color: grey;
    font-size: 17px;

}