
<!--
  Generated template for the Meshoraires page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-toolbar> <!-- Même design que la nav-bar, mais sans le back button ! -->
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>Mes horaires</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content padding>

<!--
<ion-item>
  <ion-label>Choisir un mois</ion-label> 
    <ion-select [(ngModel)]= "mois" (ngModelChange)= "onChange(mois)">
       <ion-option  *ngFor = "let mois of moisListe"> {{mois.nom}}</ion-option>
    </ion-select>  
</ion-item>-->
<!--
<ion-item>
<ion-item text-wrap>
    <ion-label>Synchroniser les nouveaux horaires dans le calendrier</ion-label>
    <ion-checkbox [(ngModel)]="autoImport"  (click)="saveAutoImportChange()" [disabled] ="isHorsLigne"></ion-checkbox>
  </ion-item>-->

<div *ngIf = "annee && moisSelectionne"  (swipe)="changerMois($event)">

<div class="month"> 
  <ul>
    <button  class="prev" ion-button (click)="goToMoisPrecedent()">&#10094;</button>
    <button class="next" ion-button (click)= "goToMoisSuivant()" >&#10095;</button>
    <li >
     {{moisSelectionne.nom}}
    </li>  
    <li>
      {{anneeSelectionne}}      
    </li>  
  </ul>
</div>

<ul class="weekdays">
  <li *ngFor = "let semaine of semaines">
    <span>{{semaine.nom}}</span></li>
</ul>

<ul class="days"> 
  <li  *ngFor ="let i of joursMoisPrecedent">
   <button class="detailJour" ion-button disabled="true" > 
     {{i.jour}}    
   </button>
  </li>
  <li  *ngFor ="let i of jours">
   <button class="detailJour" ion-button (click)="detailHoraire(i)"        
        [class.isMaladie]="i.isMaladie"
        [class.isAccident]="i.isAccident"      
        [class.hasDemande]="i.hasDemande && !i.hasHoraire" 
        [class.hasHoraire]="i.hasHoraire"
        [class.isAujourdhui]="i.isAujourdhui">     
     {{i.jour}}    
   </button>
  </li>
</ul>
</div>

<div *ngIf="affichageDetailH">

  <div *ngIf = "hasHoraire">
    <h2 class = "titreH"> Horaires du {{selJour}}</h2>
      <ul>
        <li *ngFor = "let hjours of horairesDuJour">
          <ion-item>
              <ion-label>Horaire début : {{ hjours.affichageHeureDebut }}</ion-label>
          </ion-item>
          <ion-item >
              <ion-label>Horaire fin : {{hjours.affichageHeureFin}} </ion-label>  
          </ion-item>
          </li>
      </ul> 
  </div>

  <div *ngFor = "let demande of demandesDuJour">
    <h2 class = "titreH"> {{ demande.nom_typeDemande }} </h2>
    <ion-item>Date de début : {{ demande.affichageDateDebut }}  </ion-item>
     <ion-item>Date de fin : {{ demande.affichageDateFin }} </ion-item>
  </div>

  <div *ngIf = "isMaladie"><h2 class = "titreH"> Congé maladie</h2>
    <ion-item>Du {{ maladieDuJour.affichageDateDebut }} au {{ maladieDuJour.affichageDateFin }}</ion-item>
  </div>
  

  <div *ngIf = "isAccident"><h2 class = "titreH"> Congé accident</h2>
    <ion-item>Du {{ maladieDuJour.affichageDateDebut }} au {{ maladieDuJour.affichageDateFin }}</ion-item>
  </div>
</div>
</ion-content>