page-accueil {

}

.color1{
   background:  #0080FF;
}

.color2{
   background:  #0090FF;
}

.color3{
   background:  #00A0FF;
}

.color4{
   background:  #00B0FF;
}

.color5{
   background:  #00C0FF;
}

.white{
    color: white;
}

.white2{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

ion-col{
margin:2%;
}

ion-row {
text-align: center;
}

